    <div class="fluid-container">
        <div class="container">
        <div class="row">
            <div class="col-6 px-md-4">

<!---Form Container -->

                <div class="row">
                <img src="./assets/img/ohBadBurger.jpg" class="img-fluid titleBurger" alt="ohBadBurger">

                <form>
                    <div class="form-group col-md-10 newBurger" action="/" method="POST">
                        
                        <label for="inputBurger">Oh!Bad Fillet Patties</label>
                        <select id="inputBurger" class="form-control">
                          <option selected></option>
                            {{#each ingredient}}
                              {{#if patty}}
                                <option value="{{this.id}}">{{this.name}}</option>
                              {{/if}}
                            {{/each}}
                          </select>
                      </div>
                    <div class="form-group col-md-10">
                        <label for="inputSauce">HomeBrew Sauce</label>
                        <select id="inputSauce" class="form-control">
                            <option selected value="None"></option>
                            {{#each ingredient}}
                              {{#if sauce}}
                               <option value="{{this.id}}"> {{this.name}}</option>
                             {{/if}}
                            {{/each}}
                        </select>
                    </div>
                    <fieldset class="form-group col-md-12">
                        <div class="row">
                            <legend class="col-form-label col-md-12">Toppings</legend>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              {{#each ingredient}}
                              {{#if topping}}
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="top{{this.id}}"
                                        value="{{this.name}}" onchange="check_value({{this.id}},this)">
                                    <label class="form-check-label" for="{{this.name}}ID">{{this.name}}</label>
                                </div>                             
                             {{/if}}
                            {{/each}}
                            </div>
                        </div>
                    </fieldset>
                    <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="burgerName" name="title" placeholder="Burger Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="submit" class="btn btn-warning">RESET</button> 
                        </div>
                    </div>
                    </div>
                </form>
            </div>

<!---Summary Container
            <div class="row">
                <div class="col-12 border border-dark">
                <h2>Summary</h2>
                <h5>Name: </h3>
                <h5>SpiceLvL: </h3>
                <h5>Price: </h3>
                <button type="submit" class="btn btn-success">PURCHASE</button> 
                <button type="submit" class="btn btn-warning">RESET</button> 
                </div>  
            </div> -->
        </div> <!--- Last Row -->

<!---Builder Container -->
            <div class="col-6">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-4">Burger Image Builder</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-group">
                                <li class="list-group-item float-left">
                                    Bun Top
                                    <div class="image-parent float-right">
                                        <img src="./assets/img/bunTop.jpg" class="img-fluid" alt="quixote">
                                    </div>
                                  </li>
                                   {{#each ingredient}}
                                    <div id="img{{this.id}}" class="imgClear">
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                   {{this.name}}
                                    <div class="image-parent">
                                        <img src="./assets/img/{{this.id}}.jpg" class="img-fluid" alt="quixote">
                                    </div>
                                  </li>
                                  </div>
                                    {{/each}}
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Bun Bottom
                                    <div class="image-parent">
                                        <img src="./assets/img/bunBottom.jpg" class="img-fluid float-right" alt="quixote">
                                    </div>
                                  </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> <!--End of Main Container-->

    <div class="container">
        <h3>Awaiting CheckOut</h3>
        <ul>
           {{#each burger}}
        {{#if this.checkOut}}
              <li class="list-group-item"> 
        <div class="container">
           <form action="/burger/{{this.burgerID}}?_method=PUT" method="PUT">
          <div class="row">
                <div class="col">
                <span class="title float-left">{{this.Title}}</span> 
                </div>
                <div class="col">
                <span class="SpideLvL float-left">SpiceLvL: {{this.SpiceLvL}} </span>
                </div>
                <div class="col">
                <span class="Price float-right">Price: ${{this.Price}} </span>
                </div>
                  <div class="col">
                <span class="Price float-right">Time: {{this.Time}} </span>
                </div>
                <div class="col">    
                    <form action="/{{this.burgerID}}?_method=PUT" method="POST"></form>
                    <input name="checkOut" value="false">
              <button type="submit"class="btn btn-success float-right"name="Purchased" value="true" >PURCHASE</button> 
              </form>
              </div>
            </form>
            </li>
        {{/if}}
   {{/each}}
        </ul>
    </div>

    <div class="container">
        <h3>Purchase history</h3>
        <ul>
 {{#each burger}}
        {{#if this.Purchased}}
        <li class="list-group-item"> 
        <div class="container">
          <div class="row">
                <div class="col">
                <span class="title float-left">{{this.Title}}</span> 
                </div>
                <div class="col">
                <span class="SpideLvL float-left">SpiceLvL: {{this.SpiceLvL}} </span>
                </div>
                <div class="col">
                <span class="Price float-right">Price: ${{this.Price}} </span>
                </div>
                  <div class="col">
                <span class="Price float-right"> Date: {{this.Date}} </span>
                </div>
                <div class="col">
            <form action="/{{this.id}}?_method=delete" method="delete">
              <button type="submit"class="btn btn-danger float-right">DELETE</button> 
            </div>
            </form> 
            </li>
                    {{/if}}
   {{/each}}
        </ul>
    </div>

</div>

